streamlit>=1.28.0
gspread
oauth2client
requests==2.31.0
playwright==1.45.1
google-generativeai
tabulate
curl_cffi==0.5.9
cryptography==41.0.7
psycopg2-binary>=2.9.9
SQLAlchemy>=2.0.23
pandas>=2.0.0
plotly>=5.17.0
python-dotenv>=1.0.0
playwright-stealth==1.0.6
psycopg2-binary==2.9.9
